@import "tailwindcss";


.my-motion-enter {
  opacity: 0;
}
.my-motion-enter-active {
  opacity: 1;
  transition: opacity .3s;
}

.my-motion-leave {
  opacity: 1;
}
.my-motion-leave-active {
  opacity: 0;
  transition: opacity .3s;
}
