.accordion-collapse-appear,
.accordion-collapse-enter {
  height: 0;
  opacity: 0;
}
.accordion-collapse-appear-active,
.accordion-collapse-enter-active {
  height: auto; /* rc-motion 内部会自动用 scrollHeight 计算 px 高度 */
  opacity: 1;
  transition: height 0.3s ease, opacity 0.3s ease;
}
.accordion-collapse-leave {
  height: auto;
  opacity: 1;
}
.accordion-collapse-leave-active {
  height: 0;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}
